<div class="tabs">
  <a class="tab {% if page == 'overview' %}active{% endif %}" href="/topics/{{ topic_id }}/overview">Overview</a>
  <a class="tab {% if page == 'framework' %}active{% endif %}" href="/topics/{{ topic_id }}/framework">Framework</a>
  <a class="tab {% if page == 'investing' %}active{% endif %}" href="/topics/{{ topic_id }}/investing">Investing</a>
  <a class="tab {% if page == 'sources' %}active{% endif %}" href="/topics/{{ topic_id }}/sources">Sources</a>
  <a class="tab {% if page == 'timeline' %}active{% endif %}" href="/topics/{{ topic_id }}/timeline">Timeline</a>
  <a class="tab {% if page == 'open_questions' %}active{% endif %}" href="/topics/{{ topic_id }}/open_questions">Open questions</a>
  <a class="tab {% if page == 'digests' %}active{% endif %}" href="/topics/{{ topic_id }}/digests">Digests</a>
  <a class="tab {% if page == 'tasks' %}active{% endif %}" href="/topics/{{ topic_id }}/tasks">Tasks</a>
  <a class="tab {% if page == 'runs' %}active{% endif %}" href="/topics/{{ topic_id }}/runs">Runs</a>
</div>
